README.el
emacs-custom.el
/.mc-lists.el
elpa
auto-save-list
/ido.last
var
/projectile-bookmarks.eld
/emojis/
/org-clock-save.el
/network-security.data
/session.*
request/
/bookmarks
/.#session*
eshell/
.trello
/transient
/tramp
/url/
